* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 65%;
    height: auto;
}

html, body {
    overflow: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

li, a, button {
    font-weight: bold;
    font-size: 17px;
    color: #24252A;
    text-decoration: none;
    font-style: normal;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    background: white;
    top: 0;
    z-index: 1;
    box-shadow: 0 0px 0 rgba(0, 0, 0, 0.4);
    height: 65px;
    border-bottom: 1px solid lightgray;
}


nav {

}

.logo {
    height: 86px;
    width: 98px;
    cursor: pointer;
    margin-right: auto;
    padding: 0px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav_links {
    list-style: none;
    text-decoration: none;

}

.nav_links li {
    display: inline-block;
    padding: 12px 32px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
   color: #777;

}

button {
   padding: 9px 25px;
   background-color: rgb(218, 211, 211);
   border: none;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease 0s;
   margin-left: 20px;
   margin-right: 10px;
}

button:hover {
    background-color: rgba(230, 218, 218, 0.5);
}

.banner{
    margin-top: 2rem;
    color: blueviolet;
    margin-bottom: 1rem;
}

footer{
    margin-top: 5rem;
    text-align: center;
}

.back_image {
    background-image: url(banner.jpg);
    height: 152vh;
    background-size: cover;
}